<div class="container mx-auto py-8">
  <section class="bg-white p-6">
    <div class="max-w-4xl mx-auto">
      <h2 class="text-3xl font-bold text-gray-800 text-center mb-8">Publicar Producto</h2>
      <form (ngSubmit)="onSubmit()" #productForm="ngForm" [formGroup]="formProduct" >
        <div class="space-y-6">
          <!-- Nombre del Producto -->
          <div>
            <label for="productName" class="block text-lg font-medium text-gray-700">Nombre del Producto</label>
            <input
              id="productName"
              name="name"
              type="text"
              class="mt-2 p-3 w-full border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
              required
              formControlName="name"
            />
          </div>

          <!-- Precio y Stock del Producto -->
          <div class="grid grid-cols-2 gap-6">
            <div>
              <label for="productPrice" class="block text-lg font-medium text-gray-700">Precio</label>
              <input
                id="productPrice"
                name="price"
                type="number"
                class="mt-2 p-3 w-full border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
                required
                formControlName="price"
              />
            </div>
            <div>
              <label for="productStock" class="block text-lg font-medium text-gray-700">Cantidad en Stock</label>
              <input
                id="productStock"
                name="stock"
                type="number"
                class="mt-2 p-3 w-full border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
                required
                formControlName="stock"
              />
            </div>
          </div>

          <!-- Descripción del Producto -->
          <div>
            <label for="productDescription" class="block text-lg font-medium text-gray-700">Descripción</label>
            <textarea
              id="productDescription"
              name="description"
              class="mt-2 p-3 w-full border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
              required
              formControlName="description"
            ></textarea>
          </div>

          <!-- Categoría del Producto -->
          <div>
            <label for="productCategory" class="block text-lg font-medium text-gray-700">Categoría</label>
            <select
              id="productCategory"
              name="category"
              class="mt-2 p-3 w-full border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
              required
              formControlName="category"

            >
              @for (category of categories;track category.id){
                <option value="{{category.id}}">{{category.name}}</option>
              }

            </select>
          </div>

          <!-- Imagenes del Producto -->
          <div>
            <label for="productImages" class="block text-lg font-medium text-gray-700">Imagenes del Producto</label>
            <input
              #fileInput
              id="productImages"
              name="images"
              type="file"
              (change)="onImagesSelected($event)"
              accept="image/*"
              multiple
              class="mt-2 p-3 w-full bg-white border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
            />
          </div>

          <!-- Vista previa de las imagenes -->
          <div *ngIf="imagePreviews.length > 0" class="mt-8">
            <h3 class="text-2xl font-medium text-gray-700">Vista Previa</h3>
            <div class="grid grid-cols-3 gap-4 mt-4">
              <div *ngFor="let preview of imagePreviews; let i = index" class="relative w-full h-32 overflow-hidden rounded-lg shadow-md">
                <img [src]="preview" alt="Vista previa de la imagen" class="w-full h-full object-cover" />

                <!-- Caneca de basura para eliminar la imagen -->
                <div
                  class="absolute left-0 top-0 flex h-full w-full items-center justify-center  text-red-600"
                  (click)="removeImage(i)"
                >
                  <div class="p-2 bg-white rounded-full cursor-pointer hover:bg-gray-100">

                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                  </svg>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Botón para enviar el formulario -->
          <div class="mt-8">
            <button
              type="submit"
              class="w-full py-3 bg-blue-600 text-white text-lg font-semibold rounded-lg hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 cursor-pointer"
              [disabled]="!productForm.valid || loading"
            >
              Publicar Producto
            </button>
          </div>
        </div>
      </form>
    </div>
  </section>
</div>
